
h1 {
    font-size: 60px;
    margin: 10px; 
    text-align: center;
    font-weight: bold;
    font-family: 'Amatic SC', cursive;   
    font-weight: bold; 
}

p {
    margin: 10px;
}

.subtitle {
    text-align: center;
    font-size: 25px;
    font-family: 'Amatic SC', cursive;
}



.jumbotron  {
    margin: 15px 40px;
    padding: 50px 20px ;
    background-color: white;
    border-radius: 30px;
}


.lead {
    text-align: center; 
    font-size: 20px;
    font-family: 'Amatic SC', cursive;
}

.container-fluid {
    margin-top: 15px;
}

.body {
    background-color: #4682B4;
}